<style>
header {
    background-color:#4aaaa5;
    width: 210px;
    height: 65px;
    color:white;
    font-family: Georgia;
    font-size: 13px;
    text-align:center;
    padding:5px; 
}

}

ul#menu li {
    display:inline;
    float: right;
    background-color: white;
    font-family: Arial;
    color: black;
    font-size: 11px;
    padding: 5px;
}

#main {
    width: 960px;
    background-color:grey;
}

#section {
    width: 650px;
    float: left;
    padding:15px;

}

#aside {
    background-color: white;
    color:#4aaaa5;
    padding:20px;
}
#footer {
    background-color: #666666;
    color: grey;
    text-align: center;
    padding: 10px;
}

</style>